version: "3"
services:
  phpvso:
    user: vscode
    image: extravioar/php-vso
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ..:/workspace:cached
    # Overrides default command so things don't shut down after the process ends.
    command: /bin/sh -c "while sleep 1000; do :; done"  
  # mariadb:
  #   container_name: mariadb
  #   image: mariadb:10
  #   ports:
  #     - "3306:3306"
  #   # volumes:
  #   #   - ..:/workspace:cached
  #   environment:
  #     - MYSQL_ROOT_PASSWORD=root
